@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic);

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.6;
	background-color: #AECDCE;
}

a{
	color: #23527c;
}

h3 {
		font-size: 30px;
}

::selection {
  background: #fe8590;
}
::-moz-selection {
  background: #fe8590;
}

nav {
	background-color: #D2D3D5;
}

.nav > li {
  padding-top: 10px;
}

nav li a {
	text-transform: uppercase;
	font-size: 15px;
	color: #074E95;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: inherit;
	color: #95074E;
}

.container {
	width: 80%;
	padding: 30px 50px;
	background-color: #FFFFFF;
	border-radius: 10px;
	margin-bottom: 35px;
}

.section {
	margin: 40px 0;
}

.title {
	text-align: center;
}

#description  {
	text-align: center;
}

#description li  {
	text-align: left;
}

#for-beginners img {
	margin-right: 15px;
	border-width: thin;
	border-style: solid;
}

#for-programmers img {
	margin-left: 5px;
	border-width: thin;
	border-style: solid;
}

#organizers {
	text-align: center;
}

#organizers figure {
	display: inline-block;
	text-align: center;
	margin: 0 20px;
}

#contact {
	display: block;
	text-align: center;
	margin-bottom: 0;
}
