{% extends 'base.html' %}

{% block content %}
      <div class="container">
        <div class="title"><h3>Code of Conduct</h3></div>
        <p>Celem naszych spotkań jest poszerzanie wiedzy i wspólne spędzanie czasu w przyjaznej atmosferze.
           W związku z tym wszyscy staramy się, aby każdy czuł się dobrze na spotkaniach. Szanujemy i traktujemy z uprzejmością wszystkich uczestników.
           Każdy, niezależnie od koloru skóry, płci, orientacji seksualnej, wyglądu, jest mile widziany na spotkaniach.
           Nie akceptujemy agresywnych bądź rubasznych wypowiedzi o zabarwieniu seksualnym.</p>
        <p>Jeśli spotkałeś/aś się z nieakceptowalnym zachowaniem, zgłoś się proszę do któregoś z organizatorów. Cenimy Twoją obecność na spotkaniach.</p>
        <p>Osoby zachowujące się niedopuszczalnie będą wypraszane ze spotkań, a w szczególnych przypadkach wykluczane z dalszego udziału w życiu społeczności.</p>
        <p>Jeśli pierwszy raz spotykasz się z ideą Code of Conduct i chcesz dowiedzieć się więcej, polecamy ten tekst: <a href="http://www.ashedryden.com/blog/codes-of-conduct-101-faq">Codes of Conduct 101 FAQ</a>.</p>
      </div>
{% endblock %}
