{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}

<div class="container">
  <p>Jesteś na tej stronie, ponieważ pewnie chcesz dodać jakiś materiał do bazy.
    Zanim to zrobisz, upewnij się, że nie ma go już na liście. ;)
    Dzięki!</p>
</div>

<div class="divider divider3">
</div>

<form action="{% url 'propose' %}" method="post" id="proposal" class="container">
      {{ form|bootstrap }}
     <p class="form-group text-center">
         <button type="submit" class="btn btn-primary">Dodaj</button>
     </p>
     {% csrf_token %}
 </form>

{% endblock %}
